


{% extends 'back/base.html.twig' %}

{% block title %}Détails du Message{% endblock %}

{% block subBody %}
    <div class="container mt-5">
        <h1 class="mb-4">Détails du Message</h1>

        <div class="card mb-4">
            <div class="card-header">
                Informations
            </div>
            <div class="card-body">
                <p><strong>ID:</strong> {{ messages.id }}</p>
                <p><strong>Contenu:</strong> {{ messages.content }}</p> 
                <p><strong>Utilisateur:</strong> {{ messages.user ?messages.user.email : 'Aucun utilisateur associé' }}</p>
            </div>
        </div>


        <div class="mt-3">
            <a href="{{ path('admin_message_index') }}" class="btn btn-info btn">Retour à la liste</a>
            <a href="{{ path('admin') }}" class="btn btn-info btn">Retour au Dashboard</a>
        </div>
    </div>
{% endblock %}
